.pink-background {
  background-color: #e0afa0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  padding: 5px 10px 5px 10px;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  font-size: 150%;
  background-color: #82C0CC;
  border-radius: 30px;
  margin: 10px;
  transition: background-color 0.7s;
}

.nav-bar a:hover {
    background-color: #489FB5;
}

h1 {
 font-family: 'Pacifico', cursive;
 font-size: 300%;
 margin: 10px;
 color: white;
 font-weight: 200;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #846A6A;
    font-size: 150%;
}

body {
  margin: 0;
}

#front-page-image {
    height: auto;
    width: 350px;
    border-radius: 10px;


}

.front-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.products-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.product-image {
    width: 300px;
    
}

.product-card {
    display: flex;
    flex-direction: column;
    margin: 30px;
    

}

.product-card h4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #846A6A;
}

.about {
    display: flex;
    margin-top: 30px;
}

.about img {
    width: 400px;
    margin: 50px 50px 50px 80px;
}

.about p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #846A6A;
    font-size: 130%;
    justify-content: center;
    align-self: center;
    margin: 30px;
}

img {
    border: 3px dashed #82C0CC;
    border-radius: 10px;
}

/* For Tablet View */

@media screen and (max-width: 800px) {
    .nav-bar {
        flex-direction: column-reverse;
    }
}

/* For Mobile View */

@media screen and (max-width: 400px) {
  .nav-bar {
    flex-direction: column-reverse;
  }
  .products-content {

    flex-direction: column;
}
.about {
    flex-direction: column;
}
}






